main section ul.albums_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section ul.albums_list li.albums_items {
  width: 30%;
  margin: 1rem 0;
}

main section ul.albums_list li.albums_items div.album_card_img {
  height: 65%;
  display: flex;
}


main section ul.albums_list li.albums_items img {
  margin-bottom: 0.9rem;
  width: 100%;
}

main section ul.albums_list li.albums_items div.albums_info {
  display: flex;
  justify-content: space-between;

  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;

  margin: 0.9rem 0;
}

main section ul.albums_list li.albums_items div.albums_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section ul.albums_list li.albums_items div.albums_action button {
  background-color: var(--brand-2);
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 4px;

  font-size: 1rem;
  font-weight: 500;

  color: #fff;

  border: none;
}

main section ul.albums_list li.albums_items div.albums_action button:hover {
  background-color: var(--brand-1);
}