.visuallyHidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.menu-burguer {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: var(--color-grey-3);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute; 
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger .bar4 {
  top: 13.5px;
}

.hamburger .bar5 {
  bottom: 0px;
}

.hamburger .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px;
}

.hamburger .bar3 {
  width: 1px;
  left: 13.5px;
  
}

.checkbox:checked + label > .hamburger > .bar1{
  top: 13.5px;
  background-color: transparent;
}

.checkbox:checked + label > .hamburger > .bar2{
  left: 0px;
  width: 30px;
  transform: rotate(45deg);
}

.checkbox:checked + label > .hamburger > .bar3{
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

.checkbox:checked + label > .hamburger > .bar4{
  background-color: transparent;
}

.checkbox:checked + label > .hamburger > .bar5{
  bottom: 13.5px;
  background-color: transparent; 
}

