body {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 10%;
}

div.top-menu {
  width: 100%;
  height: 10%;
  background-color: var(--color-mode);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-grey-4);
  z-index: 1000;
}

div.info-menu {
  position: absolute;
  top: 10%;
  border-bottom: 2px solid var(--color-grey-4);
  animation: MoveUpDown 1.5s linear normal;
}

@keyframes MoveUpDown {
  0% {
    top: -90%;
  }
  100% {
    top: 10%;
  }
}

