/* Tokens colors */
:root {
	--blue: #2001ff;

	--blue-dark-100:#1c00e5;
	--blue-dark-200:#1900cc;
	--blue-dark-300:#1600b2;
	--blue-dark-400:#130099;
	--blue-dark-500:#10007f;
	--blue-dark-600:#0c0066;
	--blue-dark-700:#09004c;
	--blue-dark-800:#060033;
	--blue-dark-900:#030019;

	--black: #000000;
	--black-blue: #0a1e32;

	--blue-light-100:#361aff;
	--blue-light-200:#4c33ff;
	--blue-light-300:#624dff;
	--blue-light-400:#7966ff;
	--blue-light-500:#8f80ff;
	--blue-light-600:#a599ff;
	--blue-light-700:#bcb2ff;
	--blue-light-800:#d2ccff;
	--blue-light-900:#e8e5ff;

	--white: #ffffff;
	--white-blue: #a2abb2;
	--white-text-blue: #2b80d5;

	--red: #ff2001;
	--green: #01ff20;
	--purple: #9f01ff;
	--yellow: #e0ff01;
	--blue-analog: #0161ff;

	--blue-bg-100:#634eff;
	--blue-bg-200:#4d34ff;
	--blue-bg-300:#361bff;
	--blue-bg-400:#1c00e7;
	--blue-bg-500:#1900cd;
	--blue-bg-600:#1600b4;
}

/* BODY */
body {
	width: 100%;
	background-color: var(--blue-light-900);
}

/* HEADER */
header {
	position: fixed;
	width: 100%;
	height: 6rem;
	background-color: var(--white);
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: -1px 1px 15px -5px #000;
}

header nav.menu {
	width: 80%;
	display: flex;
	align-items: center;
}

header nav.menu div.wrapper-logo a img{
	width: 9rem;
	padding: 1.5rem;
}

header nav.menu ul.wrapper-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
}

header nav.menu ul.wrapper-nav li.nav-item a {
	text-decoration: none;
	color: var(--blue-dark-900);
	background-color: transparent;
}

header nav.menu ul.wrapper-nav li.nav-item a:hover {
	color: var(--blue-dark-400);
	border-bottom: 2px solid var(--blue-dark-400);
}


header div.btn-action {
	width: 20%;
	height: 100%;
	background-color: var(--blue);
}

header div.btn-action:hover {
	background-color: var(--blue-light-100);
}

header div.btn-action a {
	display: flex;
	align-items: center;
  justify-content: space-evenly;
	color: var(--white);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
  font-size: 1.125rem;
	padding: 0 1rem;
	height: 100%;
}

/* MAIN */
/* 
main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */

main div.banner {
	width: 100%;
	height: 8rem;
	display: flex;
	align-items: end;
	justify-content: center;
	background-color: var(--black-blue);
	color: var(--white);
}

main div.banner h2{
	text-transform: uppercase;
	padding-bottom: 0.5rem;
}

main section.about {
	width: 100%;
	height: 95vh;
	display: flex;
	background-color: var(--blue);
}

main section.about div.about-text {
	width: 50%;
	background-color: var(--blue);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main section.about div.about-text div.post-top {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

main section.about div.about-text div.post-top p.post-category {
	background-color: var(--white);
	color: var(--blue);
	padding: 0.3rem 2rem;
	font-weight: 600;
	font-size: 1.125rem;
}

main section.about div.about-text div.post-top p.post-time {
	font-size: .875rem;
  font-weight: 400;
	padding: 0.3rem 0;
}

main section.about div.about-text div.post-main {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 2rem 0;
}

main section.about div.about-text div.post-main h1.post-title {
	font-size: 1.9rem;
	font-weight: 600;
	padding: 1rem 0;
}

main section.about div.about-text div.post-main p.post-content {
	font-size: 1.2rem;
	font-weight: 100;
}

main section.about div.about-text div.post-footer {
	width: 50%;
}

main section.about div.about-text div.post-footer button {
	border: 2px solid var(--white);
	color: var(--white);
	background-color: transparent;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 1rem;
	display: flex;
	cursor: pointer;
}

main section.about div.about-text div.post-footer button:hover {
	border: 2px solid var(--black-blue);
	background-color: var(--black-blue);
}

main section.about div.about-text div.post-footer button img {
	margin-left: 1rem;
}

main section.about div.about-img {
	width: 50%;
	background-image: url("../assets/clean_code.png");
	background-position: center;
	background-size: cover;
}


/* NEWSLETTER */

main section.newsletter {
	background-image: url("../assets/newsletter_bg.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main section.newsletter form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 25%;
	height: 40%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 4px;
	border: 2px solid #e9ecef;
	background-color: var(--white);
}

main section.newsletter form h2 {
	font-size: 1.3rem;
	font-weight: 500;
	padding: 0.5rem 0 0.7rem 0;
}

main section.newsletter form div.email-field {
	display: flex;
	flex-direction: column;
	width: 16rem;
}

main section.newsletter form div.email-field label {
	font-size: 0.7rem;
	padding: 1rem 0 0.5rem 0.1rem;
}

main section.newsletter form div.email-field input {
	border: none;
	background-color: #e9ecef;
	padding: 0.8rem;
	border-radius: 6px;
}

main section.newsletter form div.email-field input:hover {
	background-color: #DEE2E6;
}

main section.newsletter form div.email-field input:focus {
	border: 1px solid #000000;
	background-color: #ffffff;
}

main section.newsletter form div.email-field input::placeholder {
	color: #48494a;
}

main section.newsletter form div.btn-ass input {
	width: 16rem;
	height: 2.3rem;
	border: none;
	border-radius: 4px;
	background-color: #1971C2;
	color: white;

}

main section.newsletter form div.btn-ass input:hover {
	background-color: #1864AB;
}

main section.newsletter form div.btn-ass input:focus {
	border: 1px solid #000000
}


/* FOOTER */

footer.footer {
	width: 100%;
	height: 60vh;
	background-color: var(--black-blue);
	color: var(--white);
}

footer.footer a {
	text-decoration: none;
	color: var(--white);
}

footer.footer div.footer-container {
	height: 68%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 3rem;
}

footer.footer div.footer-container img {
	width: 12rem;
	height: 12rem;
}

footer.footer div.footer-container div.footer-content {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

footer.footer div.footer-container div.footer-content h3 {
	font-size: 1rem;
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: 1.5rem;
}

footer.footer div.footer-container div.footer-content ul li {
	padding-bottom: 1.5rem;
	font-weight: 300;
	font-size: 0.9rem;
}

footer.footer div.footer-container div.footer-content ul li:hover {
	color: var(--white-text-blue);
}

footer.footer div.footer-container div.footer-content ul li a:hover {
	color: var(--white-text-blue);
}

footer.footer div.footer-container div.footer-content ul li a.workus {
	text-transform: uppercase;
}

footer.footer div.footer-notes {
	padding: 1.5rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--white-text-blue);
	color: var(--white-text-blue);
}