header{
  height: 5rem;
  padding: 0 0 0 0.5rem;
  background-color: black;
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

h1{
  font-size: 2rem;
}

h2{
  margin: 20px 0;
}

.links{
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

a{
  color: white;
}

@media (min-width: 480px) {
  header {
    padding: 0 5vw;
  }
  h1{
    font-size: 3rem;
  }
  .links{
    font-size: 1.25rem;
    justify-content: space-between;
  }
}