body{
  background-color: #999;
  color: #000;
}
h3:after {
  content: "Mobile First";
}

/* MEDIA QUERY */

@media(min-width: 1200px){
  body{
    background-color: #E0FFFF;
    color: #000;
  }
  h3:after {
    content: "Min width 1200px";
  }
}

@media(min-width: 768px) and (max-width: 1199px){
  body{
    background-color: #AF5A5A;
    color: #FFFFFF;
  }
  h3:after {
    content: "Min width 768px";
  }
}

@media(min-width: 760px) and (max-width: 767px){
  body{
    background-color: #FF7F50;
    color: #A9A9A9;
    font-size: 30px;
  }
  h3:after {
    content: "Min width 767px";
  }
}

@media(min-width: 700px) and (max-width: 759px){
  body{
    background-color: #5A73AF;
  }
  h3:after {
    content: "Min width 700px";
  }
}

@media(min-width: 650px) and (max-width: 699px){
  body{
    background-color: #5AAF9C;
  }
  h3:after {
    content: "Min width 650px";
  }
}

@media(min-width: 480px) and (max-width: 649px){
  body{
    background-color: #8A2BE2;
    color: #FFFFFF;
  }
  h3:after {
    content: "Min width 480px";
  }
}

@media(min-width: 380px) and (orientation: landscape) and (max-width: 479px){
  body{
    background-color: #b0e5f5;
    color: #000;
  }
  h3:after {
    content: "Min width 380px and Orientation is Landscape";
  }
}

@media(min-width: 380px) and (max-width: 479px){
  body{
    background-color: #023545;
    color: #fff;
    font-size: 50px;
  }
  h3:after {
    content: "Min width 380px Large font";
  }
}



