@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .show {
    display: block;
  }
  .menu-2 {
    display: none;
  }
  .menu-button-2 {
    display: block;
    background-color: transparent;
    border: none;
  }
  .show-2 {
    display: block;
  }
  .hamburger {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #333;
    position: relative;
    top: 10px;
    left: 20px;
  }
  .hamburger:before {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: -8px;
    left: 0;
  }
  .hamburger:after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 8px;
    left: 0;
  }

  .menu-3 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .menu-3.show-3 {
    transform: translateX(0);
  }
  .close-button {
    display: block;
  }
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .overlay.show-3 {
    z-index: 998;
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  .menu {
    display: block;
  }
  .menu-button {
    display: none;
  }
  .menu-2 {
    display: block;
  }
  .menu-button-2 {
    display: none;
  }
  .menu-3 {
    display: block;
  }
  .menu-button-3 {
    display: none;
  }
  .close-button {
    display: none;
  }
}
