* {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
  color: white;
}

section {
  width: 60%;
  padding: 0.5rem 0 0 0;
}

h1, h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0 0 0;
}

p {
  font-size: 0.9rem;
}

strong {
  color: #3662ff;
}

a {
  color: black;
}

ol {
  padding: 0 1.5rem;
}

.about {
  background-color: #3662ff;
  color: white;
  padding: 0.5rem;
}

.focus {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.attention {
  font-weight: 900;
  padding-top: 1.5rem;
}